*, ::before, ::after {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --text-color: #c04b4b;
}

html {
    font-size: 16px;
}

form {
    width: fit-content;
    margin: 4em auto 0.2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 1em 1em 2em;
}

#form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 13.3em;
}

form h1 {
    text-align: center;
    margin-bottom: 0.1em;
    font-size: 2.6em;
    font-style: italic;
    color: var(--text-color);
    border-bottom: 3px solid var(--text-color);
    padding-bottom: 0.2em;
}

form > #form-inputs > label {
    font-size: 1.5em !important;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: flex-start !important;
    gap: 0.5em;
    color: var(--text-color);
    font-style: italic;
    font-weight: bold;
    margin-left: 0;
}

form article {
    color: var(--text-color);
    font-style: italic;
    font-weight: bold;
    margin-left: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7em;
    width: 100%;
}

form article h2 {
    font-size: 1.7em;
    text-align: left;
    width: 100%;

}

form label {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    width: 4.7em;
    margin: auto;
}

form article label input {
    width: 1.5em;
    height: 1.5em;
    appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
    border: 3px solid var(--text-color);
    border-radius: 50%;
}

form article label input:checked {
    background-color: var(--text-color);
}


form label input[type="number"] {
    height: 2.6em;
    width: 16em;
    padding: 1em;
    border: none;
    border: 3px solid var(--text-color);
    border-radius: 7px;
}

#calculate {
    background-color: var(--text-color);
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    padding: 0.6em 2em;
    border-radius: 19px;
    margin-top: 0.7em;
    color: white;
    border: 3px solid var(--text-color);
    transition: all 0.4s;
}

#calculate:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: white;
}

#show-results {
    display: none;
    margin: auto;
    padding: 1em 2em;
    text-align: center;
    color: var(--text-color);

}

#show-results h2 {
    font-style: italic;
    font-size: 2em;
    margin-bottom: 0.3em;
}

#show-results p {
    display: inline;
    font-size: 3em;
}

#show-results span {
    font-size: 1.2em;
}

#reset {
    background-color: var(--text-color);
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    padding: 0.6em 2em;
    border-radius: 19px;
    margin: 0.6em auto;
    color: white;
    border: 3px solid var(--text-color);
    transition: all 0.4s;
    width: 9em;
}

#reset:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: white;
}